{% extends '../layout.twig' %}

{% block page %}
  <h1>Contact</h1>
  <p class="measure lh-copy">Actually I've given up phones and email to become a monk.</p>
  <img class="w5" src="/img/grumpycat.jpg" alt="">
{% endblock %}
