{% extends "../layout.twig" %}

{% block page %}
    <header>
        <h1>About Page</h1>
    </header>
    <p class="measure lh-copy">
        Well aren't I just bloody brilliant?
    </p>

{% endblock %}
