{% extends 'layout.twig' %}

{% block page %}
  <h1>Contact</h1>
  <p class="measure lh-copy">Minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
  <p class="measure lh-copy">Quis nostrudium exercitation ullamco laboris nisi est.</p>
{% endblock %}
