{% set linkStyle = 'link dim f6 f5-ns dib mr3' %}

<a class="{{ linkStyle }}" href="/">Home</a>
<a class="{{ linkStyle }}" href="/about.html">About</a>
<a class="{{ linkStyle }}" href="/work.html">Work</a>
<a class="{{ linkStyle }}" href="/contact.html">Contact</a>
